*{
    margin: 0px;
    padding: 0px;
}

.div-women{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div-man{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div-kids{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    margin:1px;
    height: 378.33px;
    width: 250px;
    border: 0.5px white;
    
}
.collection{
    background-color: rgba(249, 235, 254, 0.569);
}
.header{
    
    width: 100%;
    height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff23ab60;
    font-family: 'Lilita One', cursive;
}
.nav-header{
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color:rgb(218, 153, 234,0.569) ;
}
.nav{
    
    margin:0px;
    padding: 0px 20px;
    list-style: none;
   
}
li{
    font-size: 20px;
    font-family: 'Lilita One', cursive;
    list-style: none;
    float: left;
    padding:20px;
}

